@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f1f1f;
}

.col-12 {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
}

.first-screen {
  height: 100vh;
}

.sidebar {
  float: left;
  width: 445px;
  background-color: #2c2c2c;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-content {
  padding: 0 15px;
  text-align: center;
}

.sidebar-content_image {
  background-color: #fff;
  display: inline-block;
  line-height: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 115px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.sidebar-content_image img {
  max-width: 110px;
  border-radius: 50%;
}

.sidebar-content_headline {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 8px;

  color: #ffffff;
}

.sidebar-content_about {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;

  color: #cfcfcf;
}

.sidebar-content_socials img {
  max-width: 36px;
  margin: 0 10px;
}

.skills {
  width: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  height: 100%;
}

.skills-content {
  position: relative;
}

.skills-content_headline {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 156px;
  line-height: 190px;
  text-align: right;
  white-space: nowrap;
  right: 30px;
  position: absolute;
  z-index: -1;

  color: rgba(255, 255, 255, 0.15);
}

.skills-content-blocks {
  margin-top: 220px;
}

.skills-content-blocks div {
  background: #3d3d3d;
  border-radius: 11px;
  padding: 10px 20px;
  display: inline-block;
  margin: 0 15px 15px 0;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1 px;
  line-height: 22px;

  color: #ffffff;
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.skills-content-blocks div:hover {
  box-shadow: 0px 0px 16px rgba(147, 147, 147, 0.25);
}

.skills-content_info {
  max-width: 324px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;

  color: #cfcfcf;
}

@media all and (max-width: 1160px) {
  .sidebar {
    float: none;
    width: 100%;
    height: auto;
    padding: 60px 0;
  }

  .first-screen {
    height: auto;
  }

  .skills {
    width: auto;
    float: none;
    height: auto;
    background-color: #2c2c2c;
    padding: 0 15px 60px 15px;
  }

  .skills-content_headline {
    font-size: 60px;
    line-height: normal;
    text-align: center;
    white-space: normal;
    right: 0px;
    position: initial;
    z-index: auto;

    color: rgba(255, 255, 255, 0.8);
  }

  .skills-content-blocks {
    margin-top: 30px;
    max-width: 500px;
    text-align: center;
  }

  .skills-content-blocks div {
    margin: 7px;
  }

  .skills-content_info {
    margin: 20px auto 0 auto;
    text-align: center;
  }
}

@media all and (max-width: 460px) {
  .col-12 {
    padding: 0;
  }

  .skills-content_headline {
    font-size: 40px;
  }
}
