@font-face {
    font-family: 'Panton';
    src: url("../fonts/Panton-Regular.eot");
    src: url("../fonts/Panton-Regular.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Panton-Regular.woff2") format("woff2"), 
    url("../fonts/Panton-Regular.woff") format("woff"), 
    url("../fonts/Panton-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panton-SemiBold';
    src: url("../fonts/Panton-SemiBold.eot");
    src: url("../fonts/Panton-SemiBold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Panton-SemiBold.woff2") format("woff2"), 
    url("../fonts/Panton-SemiBold.woff") format("woff"), 
    url("../fonts/Panton-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Panton-Light';
    src: url("../fonts/Panton-Light.eot");
    src: url("../fonts/Panton-Light.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Panton-Light.woff2") format("woff2"), 
    url("../fonts/Panton-Light.woff") format("woff"), 
    url("../fonts/Panton-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}