@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  /* height: 100vh; */
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 0 45px;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media all and (max-width: 900px) {
  .sidebar {
    height: 35%;
    width: auto;
    position: absolute;
    bottom: auto;
    top: 0;
    display: flex;
    transform: translateX(0);
    transform: translateY(0);
  }

  .sidebar > div {
    width: 100vw;
  }

  .main-slide {
    transform: translateX(0);
    transform: translateY(0);
    height: 65%;
    left: 0;
    top: auto;
    bottom: 0;
    width: auto;
    display: flex;
  }

  .main-slide > div {
    width: 100vw;
  }

  .container .controls button {
    left: 50%;
    top: 35%;
  }

  .container .controls .down-button {
    transform: translateX(-100%);
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .container .controls .up-button {
    transform: translateY(-100%);
    border-radius: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}
